<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">

        <div class="sidebar-brand">
            <li ui-sref-active="active">
                <a href="#">
                    <span translate="rtsApp.sidebar.brand">Menu</span>
                </a>
            </li>
        </div>

        <li ui-sref-active="active">
            <a ui-sref="content.write">
                <span class="glyphicon glyphicon-plus navIconDistancer"></span>
                <span translate="rtsApp.content.sidebar.createLabel">New Document</span>
            </a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="content">
                <span class="glyphicon glyphicon-th-list navIconDistancer"></span>
                <span translate="rtsApp.content.sidebar.listLabel">My Documents</span>
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
