@import './src/main/webapp/content/scss/_variables.scss';

/* ==========================================================================
Footer
========================================================================== */

.footer{


    margin-top: 20px;
    padding: 0;
    border: 0px;



    .fill-remaining-space {
        // This fills the remaining space, by using flexbox.
        // Every toolbar row uses a flexbox row layout.
        flex: 1 1 auto;
    }

    a {
        color: $rts-font;
        text-decoration: none;
    }

    .rts-footer-link:hover {
        color: $rts-base-color;
    }
}
