@import './src/main/webapp/content/scss/_variables.scss';

/* ==========================================================================
Main
========================================================================== */


.mat-sidenav-container {
    color: $rts-font;
    height:100%;
    padding: 0;
}


