<md-toolbar class="navbar">

    <span>
        <a class="logo" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span class="title">RtS</span>
            <span class="navbar-version">{{version}}</span>
        </a>
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>


    <a class="nav-link" (click)="login()" >Write</a>
    <a class="material-icons nav-link" (click)="login()" >person</a>
</md-toolbar>

