@import './src/main/webapp/content/scss/_variables.scss';

/* ==========================================================================
Navbar
========================================================================== */
.navbar {
    --font-family-code: Consolas,'Liberation Mono',Menlo,Courier,monospace;
    --font-size-code: 14px;
    font-weight: normal;
    font-size: 100%;
    font: inherit;
    -webkit-font-smoothing: antialiased;
    color: $rts-font;

    .logo {
        padding: 5px 15px;
        .logo-img {
            height: 33px;
            width: 33px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo.png") no-repeat center center;
            background-size: contain;
        }
    }

    .fill-remaining-space {
        // This fills the remaining space, by using flexbox.
        // Every toolbar row uses a flexbox row layout.
        flex: 1 1 auto;
    }

    a {
        color: $rts-font;
        text-decoration: none;
    }

    .nav-link {
        padding: 0 14px;
    }

    .nav-link:hover {
        color: $rts-base-color;
    }

    .sidebar-button {
        display: inline-block;
        padding: 0 14px;
    }
}

.navbar-fill-remaining-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

.navbar-icon {
    padding: 0 14px;
}

.navbar-icon:hover {
    color: #ffb533;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 33px;
            width: 33px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo.png") no-repeat center center;
            background-size: contain;
        }

        font-weight: 400;
        color: #777;
    }
}




.navbar-version {
    font-size: 10px;
    color: #ccc
}


/* ========================================================================== */






.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

