<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Read this Stuff
            <small>Write your Message</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<style>
    .ratio {

        display: table-cell;
        max-width: 100%;
    }

    .line-clamp {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .line-clamp-container {
        height: 60px;
        overflow: hidden;

    }
</style>
<!-- Projects Row -->
<div ng-repeat="stuffRow in vm.stuffSet" class="row" infinite-scroll="vm.loadPage(vm.page + 1)"
     infinite-scroll-disabled="vm.page >= vm.links['last']">

    <div ng-repeat="stuff in stuffRow track by stuff.id" class="col-md-4 portfolio-item">

        <div class="thumbnail">

            <a ng-if="stuff.thump" ui-sref="document.view({id:stuff.id})">
                <img class="ratio" data-ng-src="{{'data:' + stuff.thumpContentType + ';base64,' + stuff.thump}}"/>
            </a>
            <a ng-if="!stuff.thump" ui-sref="document.view({id:stuff.id})">
                <img class="ratio" src="content/images/textthumb.png" alt="">
            </a>

            <div class="caption">
                <h9 class="pull-right"><a ui-sref="document.view({id:stuff.id})">{{stuff.author}}</a></h9>
                <h9><a ui-sref="document.view({id:stuff.id})">{{stuff.title}}</a></h9>
                <div class="line-clamp-container">
                    <p class="line-clamp">{{stuff.description}}</p>
                    <p class="line-clamp">{{stuff.publicationDate}}</p>
                </div>


                <p class="pull-right">{{stuff.clicks}} reads</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

