.document-rts-stuff {
  height: 40px;
  min-width: 200px;
  position: relative;
  display: inline;
  margin: 0;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #FAD2B7;
  box-shadow: 1px 1px 1px 0 #faad7c inset;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
}

.document-rts-stuff:hover,
.document-rts-stuff:focus {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid #99d6ff;
  box-shadow: 1px 1px 1px 0 #7aa7c7 inset;
}

.document-rts-stuff-edit {
  color: #777 !important;
  background-color: transparent;
}

.document-rts-stuff-edit:hover {
  color: #F87217 !important;
}

.document-rts-stuff-view {
  top: 8px;
  height: 40px;
  min-width: 200px;
  position: relative;
  display: inline;
  margin: 0 0 0 90px;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
}

/** Feature fix: disable not running image tool **/
.sc-insert-image-tool {
  display: none;
}
