
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuthorLabel" translate="rtsApp.author.home.createOrEditLabel">Create or edit a Author</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.author.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.author.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="rtsApp.author.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.author.firstName"
                    required />
            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="rtsApp.author.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.author.lastName"
                    required />
            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="rtsApp.author.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.author.email"
                    required />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.author)" ngf-pattern="'image/*'">
            <label class="control-label" translate="rtsApp.author.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.author.imageContentType + ';base64,' + vm.author.image}}" style="max-height: 100px;" ng-if="vm.author.image"/>
                <div ng-if="vm.author.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.author.imageContentType}}, {{vm.byteSize(vm.author.image)}}</span>
                    <button ng-click="vm.author.image=null;vm.author.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.author)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.author.image"
                    required />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.author.imageContentType" />
            <div ng-show="editForm.image.$invalid">
                <p class="help-block"
                    ng-show="editForm.image.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
